services:
  loki:
    image: grafana/loki:3.0.0
    container_name: siem_loki
    ports:
      - "3100:3100"
    volumes:
      - ./config/loki-config.yaml:/etc/loki/local-config.yaml
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - siem-net

  promtail:
    image: grafana/promtail:3.0.0
    container_name: siem_promtail
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./config/promtail-config.yaml:/etc/promtail/config.yml
    command: -config.file=/etc/promtail/config.yml
    networks:
      - siem-net
    depends_on:
      - loki

  grafana:
    image: grafana/grafana:latest
    container_name: siem_grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      - siem-net
    depends_on:
      - loki

  jupyter:
    image: jupyter/scipy-notebook:latest
    container_name: siem_analyst
    ports:
      - "8888:8888"
    environment:
      - JUPYTER_TOKEN=securetoken123
    volumes:
      - ./jupyter:/home/jovyan/work
    networks:
      - siem-net

  # --- NOUVEAUTÉS ---

  # LA VICTIME : Un serveur SSH léger
  victim:
    image: alpine:latest
    container_name: victim_server
    # On installe SSH et on le configure pour envoyer les logs dans le terminal (stderr)
    # pour que Docker/Promtail puisse les lire.
    command: >
      sh -c "apk add --no-cache openssh &&
      ssh-keygen -A &&
      sed -i 's/#PermitRootLogin.*/PermitRootLogin yes/' /etc/ssh/sshd_config &&
      echo 'root:monmotdepassecomplex' | chpasswd &&
      /usr/sbin/sshd -D -e"
    networks:
      - siem-net

  # L'ATTAQUANT : Utilise Hydra pour bruteforcer la victime
  attacker:
    image: kalilinux/kali-rolling
    container_name: attacker_bot
    command: >
      bash -c "
      echo '--- INSTALLATION ---';
      apt-get update && apt-get install -y hydra curl nmap;
      
      echo '--- GENERATION WORDLIST ---';
      # CORRECTION ICI : $$i au lieu de $i
      for i in {1..1000}; do echo 'pass_wrong_$$i' >> /tmp/passlist.txt; done;
      
      echo '--- DEMARRAGE DU GENERATEUR DE BRUIT ---';
      while true; do
        echo '[CYCLE] Lancement des attaques simultanées...';
        
        # 1. SSH
        hydra -l root -P /tmp/passlist.txt -t 16 victim_server ssh &
        
        # 2. WEB 404 : CORRECTION ICI ($$i)
        for i in {1..50}; do
          curl -s -o /dev/null http://web_server/admin_hidden_$$i.php &
        done
        
        # 3. NMAP
        curl -s -A 'Mozilla/5.0 (compatible; Nmap Scripting Engine)' http://web_server/vulnerability_scan &
        
        sleep 15;
      done"
    networks:
      - siem-net
    depends_on:
      - victim
      - web_victim # Attention: dépendance sur le container web
  
  web_victim:
      image: nginx:alpine
      container_name: web_server
      volumes:
        # On remplace la config par défaut par la nôtre
        - ./nginx.conf:/etc/nginx/nginx.conf:ro
      networks:
      - siem-net

networks:
  siem-net:
    driver: bridge